@import '../css/reset.css';
@import './variables.scss';
@import './mixins.scss';
@import './components/popup.scss';

.canvas-grid {
    border: 1px solid $base-color;
}

.btn {
    color: $white;
    border: 0;
    padding: $spacer $spacer*3;
    background-color: $base-color;

    &:hover {
        background-color: lighten($base-color, 10%);
    }
}

.wrapp {
    @import './components/legend.scss';

    display: flex;
    flex-direction: row;
    align-items: flex-start;
     > div {
         padding: $spacer;
     }
     .left {
        flex: 2 0 0;
    }

    .right {
        flex: 1 0 0;

        textarea {
            width: 100%;
            height: 80vh;
            margin-bottom: $spacer;
        }
    }
}